.button {
	position: relative;
	padding: var(--indentDecor) calc(var(--indentDecor)*1.7);
	border: 2px solid transparent;
	@include transitBase(background-color);

	@media (max-width: $TabletSM) {
		padding: calc(var(--indentDecor)*1.5) calc(var(--indentDecor)*2.5);
	}

	@media (max-width: $MobilMD) {
		padding: calc(var(--indentDecor)*2) calc(var(--indentDecor)*3);
	}
}

.button-prim {
	background-color: transparent;
	border-color: $colorAccent;
	background-color: $colorOverlay;

	&__text {
		font-size: 1.6rem;
		font-weight: 700;
		color: $colorText;
		letter-spacing: 0.15em;

	}

	&:focus {
		background-color: $colorAccent;
	}

	.hasHover &:hover {
		background-color: $colorAccent;
	}
}