.gear {
	width: calc(var(--sizeMain)*8.5);
	height: calc(var(--sizeMain)*8.5);
	background-image: url(../images/dist/svg/gear.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.08;
}