// HEADER  ----------------------------------------------------
.header {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: $colorDeep;
	border-bottom: 1px solid rgba($color: $colorDecor, $alpha: $colorDecorOpacity);
}

.top-line {
	width: 100%;
	height: var(--sizeMain);
	display: flex;
	align-items: center;
	justify-content: space-between;

	&__logo {
		flex-shrink: 0;
		flex-grow: 0;
		width: calc(var(--sizeMain)*2.7);
	}

	&__decor {
		background-color: rgba($color: $colorDecor, $alpha: $colorDecorOpacity);
		width: 6%;
		height: 1px;

		@media (max-width: $TabletMD) {
			display: none;
		}
	}

	&__contacts {}

	&__menu {
		flex-shrink: 0;
		flex-grow: 0;
		display: flex;
		align-items: center;
		justify-content: end;
		margin-left: 7%;
	}
}

.logo {
	display: flex;
	align-items: center;
	width: 100%;

	&:focus>&__text {
		color: $colorAccent;
	}

	.hasHover &:hover>&__text {
		color: $colorAccent;
	}

	&__img-container {
		@extend %flexCenter;
		width: var(--sizeMain);
		height: var(--sizeMain);
	}

	&__img {
		width: calc(var(--sizeMain)*.5);
		height: calc(var(--sizeMain)*.5);
	}

	&__text {
		color: $colorText;
		font-size: 1.3em;
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: .5em;
		@include transitBase(color);
	}
}

.contacts {
	display: flex;
	align-items: center;
	height: 100%;
	color: rgba($color: $colorDecor, $alpha: $colorDecorOpacity);
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: .4em;
	line-height: 1;

	&__phone {

		&_title {
			@media (max-width: $MobilLG) {
				display: none;
			}
		}

		&_number {
			font-family: 'Roboto';
			font-weight: 500;
			font-size: 1.5rem;
			color: $colorAccent;
		}
	}

	&__separator {
		margin: 0 calc(var(--indentDecor)*1.5);
		@extend %flexCenter;

		@media (max-width: $DesktopSM) {
			display: none;
		}

		&::before {
			content: '';
			display: block;
			width: 1px;
			height: calc(var(--indentDecor)*2);
			background-color: rgba($color: $colorDecor, $alpha: $colorDecorOpacity);
		}
	}

	&__adress {
		@media (max-width: $DesktopSM) {
			display: none;
		}

		&_value {
			font-family: 'Roboto';
			font-weight: 500;
			font-size: 1.2rem;
			color: rgba($color: $colorText, $alpha: .75);
		}
	}
}

.burger-button {
	@extend %flexCenter;
	width: var(--sizeMain);
	height: var(--sizeMain);
	background-color: $colorGray1;
	@include transitBase(background-color);

	&:focus {
		background-color: $colorAccent;
	}

	.hasHover &:hover {
		background-color: $colorAccent;
	}

	&__img {
		width: 20px;
		height: 14px;
	}
}