.slider-text {
	position: relative;
	@extend %size100;
	overflow: hidden;

	&__slide {
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;
		max-width: calc(var(--sizeMain)*9);
		width: 58%;
		padding-right: 17%;
		text-align: end;

		@media (max-width: $DesktopSM) {
			padding-right: 5%;
			padding-left: 3%;
		}

		@media (max-width: $TabletMD) {
			width: 80%;
			padding-right: 3%;
			padding-left: 3%;
		}

		@media (max-width: $MobilMD) {
			width: 96%;
			padding-right: 2%;
			padding-left: 2%;
		}
	}

	&__title {
		margin-bottom: calc(var(--indentDecor) * 1.5);
		font-family: 'Oswald';
		font-weight: 700;
		font-size: 5.6rem;
		line-height: 1.4;
		letter-spacing: .05rem;
		text-transform: uppercase;

		@media (max-width: $DesktopSM) {
			margin-bottom: calc(var(--indentDecor) * 2);
			font-size: 5rem;
		}

		@media (max-width: $MobilMD) {
			margin-bottom: calc(var(--indentDecor) * 3);
			font-size: 4rem;
		}

		& span {
			color: $colorAccent;
			white-space: nowrap;
		}
	}

	&__desc {
		margin-bottom: calc(var(--indentDecor) * 1.5);
		padding-left: 20%;
		font-size: 1.6rem;
		font-weight: 500;
		letter-spacing: .08rem;
		text-transform: uppercase;

		@media (max-width: $DesktopSM) {
			margin-bottom: calc(var(--indentDecor) * 2);
			font-size: 1.4rem;
		}

		@media (max-width: $MobilMD) {
			margin-bottom: calc(var(--indentDecor) * 3);
		}
	}

	&__buton {}
}