.counter {
	display: flex;
	align-items: flex-end;
	padding-bottom: var(--indentDecor);
	padding-right: calc(var(--indentDecor)*2);
	font-family: Oswald;
	font-size: 10rem;
	font-weight: 500;
	line-height: 1;

	@media (max-width: $DesktopSM) {
		font-size: 8rem;
	}

	&__counter {
		margin-right: calc(var(--indentDecor)*.5);
		color: $colorOverlay;
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: rgba($color: $colorDecor, $alpha: $colorDecorOpacity);
	}


	&__point {
		color: $colorAccent;
		// font-size: 10rem;
	}
}