.social-bar {
	width: fit-content;

	@media (max-width: $DesktopSM) {
		display: flex;
	}

	&__link {
		width: calc(var(--sizeMain)*0.65);
		height: calc(var(--sizeMain)*0.65);
		@extend %flexCenter;
		border: 1px solid rgba($color: $colorDecor, $alpha: $colorDecorOpacity);
		transform: translateY(1px);
		@include transitBase(background-color);

		&:not(:last-child) {
			border-bottom-color: transparent;

			@media (max-width: $DesktopSM) {
				border-right-color: transparent;
				border-bottom-color: rgba($color: $colorDecor, $alpha: $colorDecorOpacity);
			}
		}

		&:focus {
			background-color: $colorAccent;
		}

		.hasHover &:hover {
			background-color: $colorAccent;
		}

		@media (max-width: $DesktopSM) {
			transform: translateY(0);
			transform: translateX(1px);
		}
	}

	&__img {
		&_vk {
			width: 12px;
			height: 10.67px;
		}

		&_inst {
			width: 12px;
			height: 13px;
		}

		&_face {
			width: 7.5px;
			height: 12px;
		}

		&_twit {
			width: 12px;
			height: 12px;
		}
	}
}