:root {
	--swiper-navigation-size: var(--sizeNavigation);
	--swiper-navigation-top-offset: 50%;
	--swiper-navigation-sides-offset: 0;
	--swiper-navigation-color: transparent;
}

.navigation-container {
	// position: relative;
	width: var(--sizeNavigation);
	height: var(--sizeNavigation);

	// @media (max-width: $DesktopMD) {
	// 	width: 100%;
	// }

	& .swiper-button-prev,
	& .swiper-button-next {
		position: static;
		width: var(--sizeNavigation);
		height: var(--sizeNavigation);
		margin: 0;
		border: 2px solid $colorAccent;
		border-radius: 50%;
		background-color: $colorOverlay;

		&::after {
			font-size: var(--sizeNavigationArrow);
			font-weight: 700;
			line-height: 0;
			color: $colorAccent;
		}
	}

	// .swiper-button-prev {
	// 	left: var(--swiper-navigation-sides-offset);
	// }

	// .swiper-button-next {
	// 	right: var(--swiper-navigation-sides-offset);
	// }

	& .swiper-button-prev.swiper-button-disabled,
	& .swiper-button-next.swiper-button-disabled {
		border-color: rgba($color: $colorDecor, $alpha: $colorDecorOpacity);
		background-color: $colorOverlay;
		opacity: 1;

		&::after {
			color: rgba($color: $colorDecor, $alpha: $colorDecorOpacity);
		}
	}
}