	:root {
		--swiper-pagination-color: transparent;
		--swiper-pagination-left: 0;
		--swiper-pagination-right: 0;
		--swiper-pagination-bottom: 0;
		--swiper-pagination-top: 0;
		--swiper-pagination-fraction-color: inherit;
		--swiper-pagination-progressbar-bg-color: rgba(0, 0, 0, 0.25);
		--swiper-pagination-progressbar-size: 4px;
		--swiper-pagination-bullet-size: var(--sizePagination);
		--swiper-pagination-bullet-width: var(--sizePagination);
		--swiper-pagination-bullet-height: var(--sizePagination);
		--swiper-pagination-bullet-inactive-color: transparent;
		--swiper-pagination-bullet-inactive-opacity: 1;
		--swiper-pagination-bullet-opacity: 1;
		--swiper-pagination-bullet-horizontal-gap: var(--paginationGap);
		--swiper-pagination-bullet-vertical-gap: 6px;
	}

	.pagination-container {
		position: relative;
		width: 100%;
		height: var(--sizePagination);

		& .swiper-pagination {}

		& .swiper-pagination-bullet {

			&::after,
			&::before {
				@include transitBase(border-color background-color);
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				z-index: 10;
				display: block;
				border-radius: 50%;
			}

			&::after {
				transform: scale(var(--sizePaginationScale));
				background-color: rgba($color: $colorDecor, $alpha: $colorDecorOpacityLight);
			}

			&::before {
				border: 1px solid transparent;
			}

			&.swiper-pagination-bullet-active {
				&::after {
					background-color: $colorAccent;
				}

				&::before {
					border-color: $colorAccent;
				}
			}
		}

		& .swiper-pagination-bullets-dynamic {

			& .swiper-pagination-bullet-active-prev-prev,
			.swiper-pagination-bullet-active-next-next,
			.swiper-pagination-bullet-active-prev,
			.swiper-pagination-bullet-active-next {
				transform: scale(1);
			}
		}
	}