:root {
	--swiper-scrollbar-border-radius: 10px;
	--swiper-scrollbar-top: auto;
	--swiper-scrollbar-bottom: 0;
	--swiper-scrollbar-left: auto;
	--swiper-scrollbar-right: 0;
	--swiper-scrollbar-sides-offset: 1%;
	--swiper-scrollbar-bg-color: #fff;
	--swiper-scrollbar-drag-bg-color: #333;
	--swiper-scrollbar-size: var(--scrollLineHeight);
}

.scrollbar-contaner {
	position: relative;
	width: 100%;
	height: var(--scrollLineHeight);

	& .swiper-scrollbar {
		background-color: rgba($color: $colorDecor, $alpha: $colorDecorOpacityLight);
	}

	& .swiper-scrollbar-horizontal {}

	& .swiper-scrollbar-drag {
		background-color: $colorAccent;
		height: var(--scrollDragHeight);
		top: calc(var(--scrollLineHeight)*-.3);
	}
}